@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);



body { 
  background-color: #CCCC99;
  color: black; 
  font-family: sans-serif; 
  text-align: justify; 
}

header {
		text-align: center; 
		vertical-align: middle;
	}
	
h1 {float:left}

h2 {clear: left;
	}

strong { 
  color:#666633;
  font-style: normal; 
  font-weight: normal; 
}

footer { 	color: #858585;
		text-align: center;
	}			
